
# Ignore virtual environment
venv/

# Ignore Python cache
__pycache__/

# Ignore model weights
*.safetensors
*.bin
*.h5
*.pt

# Ignore node modules
frontend/node_modules/

# Ignore build files
frontend/build/